.quiz{
    background-color: beige;
    margin: 0 auto;
    width: 1000px;
    height: 800px;
}

h1{
    text-align: center;
    margin: 20px auto 30px;
    font-family: Bahnschrift;
}

.cards{
    display: grid;
    gap: 20px;
    margin: 0 auto;
    grid-template-columns: auto auto auto;
    width: 900px;
    height: 700px;
    background-image: url("world.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.card{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    margin: 0 auto;
    text-align: center;
}